.container {
  background: linear-gradient(
    to bottom,
    var(--charcoal),
    var(--darkvioloet) 5%
  );
  min-height: 95svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.title {
  color: var(--redorange);
}

.title > span {
  display: inline-block;
  cursor: pointer;
}

.title > span:hover {
  color: lemonchiffon;
}
