.image {
  width: 100%;
  min-height: 250px;
}
.imageBox {
  position: relative;
  border: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 8px;
}
.imageBox::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.imageBox:hover::before {
  height: 100%;
}
.text {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.imageBox:hover .text {
  top: 50%;
  opacity: 1;
}
.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.description {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
